Source: ubuntukylin-wallpapers
Section: x11
Priority: optional
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@list.launchpad.net>
Uploaders: Aron Xu <happyaron@ubuntu.com>,
           handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3,
Build-Depends-Indep: python3-distutils-extra
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/ubuntukylin/ubuntukylin-wallpapers.git
Vcs-Browser: https://github.com/ubuntukylin/ubuntukylin-wallpapers

Package: ubuntukylin-wallpapers
Architecture: all
Section: metapackages
Depends: ubuntukylin-wallpapers-focal,
         ${misc:Depends}
Description: Ubuntu Kylin Wallpapers
 The default Ubuntu Kylin wallpaper. This is also a metapackage depending on
 the other default wallpapers for the current Ubuntu Kylin release.

Package: ubuntukylin-wallpapers-focal
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 20.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 20.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-eoan
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 19.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 19.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-disco
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 19.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 19.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-cosmic
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 18.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 18.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-bionic
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 18.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 18.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-artful
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 17.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 17.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-zesty
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 17.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 17.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-yakkety
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 16.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 16.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-xenial
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 16.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 16.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-wily
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 15.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 15.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-vivid
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 15.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 15.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-utopic
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 14.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 14.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-trusty
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 14.04 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 14.04 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.

Package: ubuntukylin-wallpapers-saucy
Architecture: all
Depends: ${misc:Depends}
Description: Ubuntu Kylin 13.10 Wallpapers
 Outstanding wallpapers selected from Ubuntu Kylin 13.10 Wallpaper Contest.
 These wallpapers are expected to show wonderful Chinese style.
